<div #aboutMeInfo class="info">
  <pt-tag text="h2"></pt-tag>
  <h2>{{'label.aboutMe' | translate}}</h2>
  <pt-tag text="h2" [isClosing]="true"></pt-tag>

  <div class="about-info">
    <pt-read-more
      class="mobile-only"
      [maxCharacters]="300"
      [text]="('label.aboutMeDescription' | translate)">
    </pt-read-more>

    <p class="desktop-only">{{'label.aboutMeDescription' | translate}}</p>
  </div>
</div>

<div #aboutMePhoto class="image-wrapper">
  <img src="/assets/images/LazarStojanovic.jpeg" alt="Me">
  <pt-tag text="img src='/assets/images/me.png'"></pt-tag>
</div>
