<span class="heading">
  <span #iAmNotHardToFind>{{'label.iAmNotHardToFind' | translate}}</span>
  <span #letsCreateSomethingGreat>{{'label.letsCreateSomething' | translate}}</span>
  <span class="wrapper">{{'label.truly' | translate}}<span #name class="writer"></span></span>
</span>

<div #info class="info">
  <span class="email">
    {{'label.getInTouchOrShootMeAnEmail' | translate}}<br>
    <span (click)="sendEmail()">lazarst.pn&commat;gmail.com</span>
  </span>

  <span class="phone">
    {{'label.youCanContactMeAt' | translate}}<br>
    <a href=""></a>
    <span (click)="phoneContact()">+381 61 29 87 606</span>
  </span>
</div>

<div class="ending-wrapper">
  <div #tagWrapper class="tag-wrapper">
    <pt-tag text="body" class="tag" [isClosing]="true"></pt-tag>
    <pt-tag text="html" [isClosing]="true"></pt-tag>
  </div>

  <div #buttonWrapper class="button-wrapper">
    <pt-tag text="button" class="tag"></pt-tag>
    <pt-button color="accent" (buttonClick)="sendEmail()">{{'label.contactMe' | translate}}</pt-button>
    <pt-tag text="button" [isClosing]="true"></pt-tag>
  </div>
</div>
